body {
  min-height: 100vh;
  position: relative;
}

.slogan,
.historia-akole,
.produtos-shampoo,
.produtos-condicionador {
  margin-top: 5rem;
}

.contact-form {
  max-width: 43.33rem;
}

.historia p,
.produtos-shampoo p,
.produtos-condicionador p {
  font-weight: 300;
}

.historia h1,
.historia p {
  color: #cc8c74;
}

.itens-compromissos img {
  max-height: 250px;
}

.img-slogan {
  animation: fadeinout 5s linear forwards;
  animation-iteration-count: 2;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.botao-chamada-venda {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.produtos-shampoo h3,
.produtos-condicionador h3 {
  font-weight: 400;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media (min-width: 576px) {
  .itens-compromissos img {
    max-height: 500px;
  }
}
